.mainHeader {
   color: #e6e6dc;
   font-weight: 500;
   font-size: 1.25rem;
   height: 15vh;
}

.navbar {
   height: inherit;
   margin: 0rem 5rem;
   display: flex;
   justify-content: space-between;
   align-items: center;

   &_logo,
   &_menu {
      cursor: pointer;
   }

   &_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &_item {
      margin-right: 1.5rem;
   }
}
