@import url("https://fonts.googleapis.com/css2?family=Recursive:wght@400;500;800&display=swap");

*,
*::after,
*::before {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Recursive", sans-serif;
}

body {
   height: 100vh;
   background-color: #1b1b1b;
   -webkit-font-smoothing: antialiased;
}

.searchAndLanguage {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 30vh;
   padding: 0rem 5rem;
}
